<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.roster.dao.CalendarScheduleMapper">

    <select id="getAllCalendarSchedule" resultType="com.app.roster.dto.CalendarSchedule">
        SELECT sno, DATE_FORMAT(date, '%Y-%m-%d') AS date, skillID, employeeID FROM CalendarSchedule
    </select>

    <select id="getCalendarScheduleByMonth" parameterType="String" resultType="com.app.roster.dto.CalendarSchedule">
        SELECT sno, DATE_FORMAT(date, '%Y-%m-%d') AS date, skillID, employeeID
        FROM CalendarSchedule
        WHERE date LIKE CONCAT('%', #{date}, '%')
        ORDER BY date ASC, skillID ASC
    </select>


    <insert id="addCalendarSchedule" parameterType="com.app.roster.dto.CalendarSchedule">
        INSERT INTO CalendarSchedule (date, skillID, employeeID)
        VALUES (#{date}, #{skillID}, #{employeeID})
    </insert>

    <update id="updateCalendarSchedule" parameterType="com.app.roster.dto.CalendarSchedule">
        UPDATE CalendarSchedule
        SET date = #{date}, skillID = #{skillID}, employeeID = #{employeeID}
        WHERE sno = #{sno}
    </update>

    <delete id="deleteCalendarSchedule" parameterType="String">
        DELETE FROM CalendarSchedule WHERE DATE_FORMAT(date, '%Y-%m-%d') LIKE CONCAT('%', #{date}, '%')
    </delete>

</mapper>
