<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.roster.dao.EmployeeMapper">

    <select id="getAllEmployees" resultType="com.app.roster.dto.Employee">
        SELECT * FROM employees
    </select>

    <insert id="addEmployee" parameterType="com.app.roster.dto.Employee">
        INSERT INTO employees (name, position)
        VALUES (#{name}, #{position})
    </insert>

    <update id="updateEmployee" parameterType="com.app.roster.dto.Employee">
        UPDATE employees
        SET name = #{name}, position = #{position}, holidayCnt = #{holidayCnt}
        WHERE employeeID = #{employeeID}
    </update>

    <delete id="deleteEmployee" parameterType="com.app.roster.dto.Employee">
        DELETE FROM employees WHERE employeeID = #{employeeID}
    </delete>

    <select id="getEmployeeById" parameterType="int" resultType="com.app.roster.dto.Employee">
        SELECT * FROM employees
        WHERE employeeID = #{employeeID}
    </select>


</mapper>