<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.roster.dao.EmployeeSkillMapper">

    <select id="getAllEmployeeSkills" resultType="com.app.roster.dto.EmployeeSkill">
        SELECT * FROM EmployeeSkill
    </select>

    <insert id="addEmployeeSkill" parameterType="com.app.roster.dto.EmployeeSkill">
        INSERT INTO EmployeeSkill (employeeID, skillID)
        VALUES (#{employeeID}, #{skillID})
    </insert>

    <update id="updateEmployeeSkill" parameterType="com.app.roster.dto.EmployeeSkill">
        UPDATE EmployeeSkill
        SET employeeID = #{employeeID}, skillID = #{skillID}
        WHERE eno = #{eno}
    </update>

    <delete id="deleteEmployeeSkill" parameterType="com.app.roster.dto.EmployeeSkill">
        DELETE FROM EmployeeSkill WHERE employeeID = #{employeeID} AND skillID = #{skillID}
    </delete>

    <select id="existsEmployeeSkill" parameterType="com.app.roster.dto.EmployeeSkill" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM EmployeeSkill
            WHERE employeeID = #{employeeID} AND skillID = #{skillID}
        ) AS result
    </select>

</mapper>
