<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.roster.dao.HolidayMapper">

    <select id="getAllHolidays" resultType="com.app.roster.dto.Holiday">
        SELECT * FROM holiday
    </select>

    <select id="getHolidaysByMonth" parameterType="String" resultType="com.app.roster.dto.Holiday">
        SELECT holidayID, DATE_FORMAT(holidayDate, '%Y-%m-%d') AS holidayDate, description
        FROM holiday
        WHERE DATE_FORMAT(holidayDate, '%Y-%m') = #{date}
        ORDER BY holidayDate ASC, holidayID ASC
    </select>

    <insert id="addHoliday" parameterType="com.app.roster.dto.Holiday">
        INSERT INTO holiday (holidayDate, description)
        VALUES (#{holidayDate}, #{description})
    </insert>

    <update id="updateHoliday" parameterType="com.app.roster.dto.Holiday">
        UPDATE holiday
        SET holidayDate = #{holidayDate}, description = #{description}
        WHERE holidayID = #{holidayID}
    </update>

    <delete id="deleteHoliday" parameterType="int">
        DELETE FROM holiday WHERE holidayID = #{holidayID}
    </delete>

    <select id="getEmployeeById" parameterType="int" resultType="com.app.roster.dto.Holiday">
        SELECT * FROM holiday WHERE holidayID = #{holidayID}
    </select>

</mapper>