<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.roster.dao.LeaveRequestsMapper">

    <select id="getAllLeaveRequests" resultType="com.app.roster.dto.LeaveRequest">
        SELECT * FROM LeaveRequests
    </select>

    <insert id="addLeaveRequest" parameterType="com.app.roster.dto.LeaveRequest">
        INSERT INTO LeaveRequests (employeeID, leaveDate, reason)
        VALUES (#{employeeID}, #{leaveDate}, #{reason})
    </insert>

    <update id="updateLeaveRequest" parameterType="com.app.roster.dto.LeaveRequest">
        UPDATE LeaveRequests
        SET employeeID = #{employeeID}, leaveDate = #{leaveDate}, reason = #{reason}
        WHERE leaveRequestID = #{leaveRequestID}
    </update>

    <delete id="deleteLeaveRequest" parameterType="com.app.roster.dto.LeaveRequest">
        DELETE FROM LeaveRequests WHERE leaveRequestID = #{leaveRequestID}
    </delete>

</mapper>